<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_AdminLayout</title>
</head>
<body>
    <h1>Admin Layout</h1>
    <hr />
    <div> 
        @RenderBody()
    </div>
</body>
</html>
