@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyLayout1</title>
</head>
<body>
    <h1>MyLayout1</h1>
    <hr />
    <div>
        @RenderBody()
    </div>
</body>
</html>
