@model BandoInteractive_CMS.Entity.Entities.Page

@{
    Layout = Model.Layout.Path;
}

@Model.Content

@if (Model.ChildPages != null)
{
    <ul>
        @foreach (var child in Model.ChildPages)
        {
            <li><a href=@child.URL>@child.Name</a></li>
        }
    </ul>
}